.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.contactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
